<div class="container">
  <div class="row">
    <div class="col-10 offset-1">


      <div class="animated bounceInUp">

        <div class="col text-center">
          <a class="btn btn-light body-buttons" href="/logger">New Log</a>
          <span class="button-padding"></span>
          <a class="btn btn-light body-buttons" href="/members">See all Logs</a>
          <span class="button-padding"></span>
          <a class="btn btn-light body-buttons" href="/logout">Logout</a>
        </div>


        <div class="card mt-4">
          <div class="card-body">
            <h4 class="card-title text-center">Account Info</h4>

            <p>
              <strong>User ID</strong>: {{id}}
              <br>
              <strong>Name</strong>: {{firstName}} {{lastName}}
              <br>
              <strong>Email</strong>: {{email}}
              <br>
              <strong>Joined:</strong> {{createdAt}}
              <br>
              <strong>Current Avatar: </strong>
              <span class="current-avatar"></span>
            </p>

            <h4>Change Avatar</h4> (changes to avatar take effect upon next login)
            <form class="changeAvatar">
              <span class="avatar-imgs">
                <img src="./images/anime_spacytchi.png" class="tamagotchi" id="1" data-clicked="false"><img src="./images/chamametchi_anime.png"
                  class="tamagotchi" id="2" data-clicked="false">
                <img src="./images/gozarutchi_anime.png" class="tamagotchi" id="3" data-clicked="false">
                <img src="./images/kikitchi_anime.png" class="tamagotchi" id="4" data-clicked="false">
                <img src="./images/mametchi_anime_large.png" class="tamagotchi" id="5" data-clicked="false">
                <img src="./images/th.png" class="tamagotchi" id="6" data-clicked="false">
              </span> <br>
              <br>
              <div class="text-center">
                <button type="submit" class="btn btn-default text-center">Change Avatar</button>
              </div>
            </form>
            <br>
            <a href="/" class="text-link">← Back To Home</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/avatar.js"></script>